upstream {{ item.key }}{
{% for host in groups['webserver'] %}
  server {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:{{ item.value.backend }};
{% endfor %}
}

server {
  listen {{ item.value.frontend }};

  location / {
    proxy_pass http://{{ item.key }};
  }
}
