activate_this = '/var/www/demo/.venv/bin/activate_this.py'
execfile(activate_this, dict(__file__=activate_this))

import os
{% for host in groups['database'] %}
os.environ['DATABASE_URI'] = 'mysql://{{ db_user }}:{{ db_pass }}@{{ lookup('file', 'rds_endpoint',) }}/{{ db_name }}'
{% endfor %}

import sys
sys.path.insert(0, '/var/www/demo')

from demo import app as application
